html {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  width: 640px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */

.dot-header {
  height: 25px;
  width: 25px;
  background-color: #9ca3af;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  margin-right: 370px;
  margin-top: 10px;
}

.vl-header {
  border-left: 2px solid #9ca3af;
  height: 15px;
  position: relative;
  bottom: 6px;
  left: 134px;
}

/* CARD */
.card-container {
  display: flex;
  border-bottom: 1px solid #d1d5db;
}

.card-left-side {
  width: 136px;
  border-right: 2px solid #9ca3af;
}

.card-right-side {
  margin: 10px 0px 10px 30px;
  width: 475px;
}

.avatar-card {
  margin: 15px 0px 10px 30px;
}

.content-text {
  width: 250px;
  text-align: left;
}

/* NAVBAR */
.navbar {
  background-color: #dc2626;
}

.MuiFormLabel-root.Mui-focused {
  color: white !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiInput-underline:after {
  border-bottom-color: white,
}