html {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.App {
  text-align: center;
  width: 390px;
  background-color: #fef2f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */

.dot-header {
  height: 15px;
  width: 15px;
  background-color: #9ca3af;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
  margin-right: 203px;
  margin-top: 15px;
}

.vl-header {
  width: 50px;
  border-left: 2px solid #9ca3af;
  height: 19px;
  position: relative;
  /* bottom: 2px; */
  left: 93px;
}

/* CARD-MUSIC */
.card-container {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
}

.card-left-side {
  width: 95px;
  border-right: 2px solid #9ca3af;
}

.card-right-side {
  margin: 5px 0px 10px 20px;
  width: 275px;
}

.avatar-card {
  margin: 15px 0px 10px 25px;
}

.content-text {
  width: 250px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.content-text-music {
  width: 160px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 15px;
}

.album-title {
  color: #9ca3af;
  font-size: 0.75em;
  width: 200px;
}

.content-image-album {
  margin-left: 5px;
}

.rounded-likes {
  border-radius: 30px;
  border: 1px solid #9ca3af;
  width: 60px;
  height: 42px;
  margin-left: 30px;
  margin-top: 5px;
}

.song-title {
  width: 150px;
  padding-right: 0px;
  font-size: 0.8em;
  line-height: 1.3em;
}

.dot-card-music {
  height: 30px;
  width: 30px;
  background-color: #eab308;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 25px;
}

/* CARD-LOCATION */
.dot-card-location {
  height: 30px;
  width: 30px;
  background-color: #22c55e;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 18px;
}

.content-location {
  width: 212px;
  text-align: left;
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start; */
  flex-direction: column;
  padding-right: 20px;
  margin-top: 15px;
}

.location-title {
  padding-top: 0px;
  font-size: 0.8em;
}

.rounded-likes-location {
  border-radius: 30px;
  border: 1px solid #9ca3af;
  width: 60px;
  height: 42px;
  margin-left: 90px;
  margin-top: 6px;
}

/* CARD-POST-IMAGE */
.avatar-card-textImage {
  margin: 15px 0px 10px 10px;
}

.rounded-likes-textImage {
  border-radius: 30px;
  border: 1px solid #9ca3af;
  width: 60px;
  height: 42px;
  margin-left: 5px;
  margin-top: 20px;
}

.content-text-button {
  width: 80px;
  height: 50px;
  /* padding-left: 5px; */
}

.postText-description {
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 10px;
}

.postText-container {
  width: 200px;
  text-align: left;
  background-color: white;
  font-size: 0.8em;
  /* border-radius: 10px; */
  /* margin-top: 10px; */
}

.content-text {
  width: 280px;
  text-align: left;
}

.dot-card-textImage {
  height: 30px;
  width: 30px;
  background-color: #e11d48;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 25px;
}

/* LIKES CARD ON POST */
.likes-section {
  width: 250px;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.avatar-card-likes-section {
  margin: 10px 5px 10px 0px;
}

/* COMMENT CARD ON POST */
.comment-card-container {
  width: 250px;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 0.8em;
}

.comment-section-description {
  margin-left: 5px;
  margin-top: 10px;
  padding-right: 5px;
}

/* FRIENDLIST */
.card-container-friendlist {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
}

.card-container-friendlist:hover {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
  background-color: #fca5a5;
  color: white !important;
}

.content-friendlist {
  width: 470px;
  text-align: left;
}

.friendlist-name {
  /* font-weight: bold; */
  font-size: 24px;
}

.friendlist-city {
  font-size: 16px;
  color: #6b7280;
}

.card-right-side-friendlist {
  margin: 5px 0px 10px 5px;
  width: 275px;
}

.card-left-side-friendlist {
  width: 100px;
  height: 80px;
  /* border-right: 2px solid #9ca3af; */
}

/* ADD FRIEND */
.card-container-addfriend {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
}

.card-right-side-addfriend {
  margin: 10px 0px 10px 5px;
  width: 275px;
}

.content-addfriend {
  /* width: 470px; */
  text-align: left;
}

.addfriend-name {
  font-weight: bold;
  font-size: 18px;
}

.addfriend-firstName {
  font-size: 15px;
}

.addfriend-city {
  font-size: 15px;
  color: #9ca3af;
}

.card-left-side-addfriend {
  width: 100px;
  /* border-right: 2px solid #9ca3af; */
}

/* NAVBAR */
.navbar {
  background-color: #dc2626;
}

.MuiFormLabel-root.Mui-focused {
  color: white !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiInput-underline:after {
  border-bottom-color: white;
}

/* Card Search Music */
.card-container-search-music {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
}

.card-container-search-music:hover {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
  background-color: #e5e7eb;
  color: black !important;
}

.content-search-music {
  width: 250px;
  text-align: left;
}

.search-music-title {
  margin-top: 5px;
  margin-bottom: -6px;
  font-size: 22px;
  width: 240px;
  line-height: 1.2em;
}

.card-right-side-music-search {
  margin: 5px 0px 10px 0px;
  width: 275px;
}

.search-music-artist {
  font-size: 20px;
  color: #6b7280;
}

.search-music-albums {
  font-size: 15px;
  color: #94a3b8;
}

.card-left-side-search-music {
  width: 100px;
}

/* EditProfile */
.edit-profile-container {
  flex: 1;
  flex-direction: 'column';
}

/* Card Search Location */
.card-container-search-location {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
}

.card-container-search-location:hover {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
  background-color: #e5e7eb;
  color: black !important;
}

.content-search-location {
  width: 250px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-location-city {
  font-size: 25px;
}

.search-location-province {
  font-size: 20px;
  color: #6b7280;
}

.search-location-country {
  font-size: 18px;
  color: #6b7280;
  width: 300px;
}

.dot-card-search-location {
  height: 55px;
  width: 55px;
  background-color: #22c55e;
  border-radius: 50%;
  border: 3px solid white;
  display: inline-block;
  /* position: relative; */
  margin: 10px 0 0 20px;
  /* left: 15px;
  top: 28px; */
}

/* .card-right-side-location {
  width: 150px;
  padding: 500px 0;
} */

.card-left-side-search-location {
  width: 115px;
}

/* FRIEND REQUEST */
.card-container-friendrequest {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
}

.card-container-friendrequest:hover {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
  background-color: #fee2e2;
  color: #6b7280 !important;
}

.content-friendrequest {
  width: 450px;
  text-align: left;
}

.friendrequest-name {
  /* font-weight: bold; */
  font-size: 22px;
}

.friendrequest-city {
  font-size: 18px;
  color: #6b7280;
}

.card-left-side-friendrequest {
  width: 100px;
  height: 100px;
  /* border-right: 2px solid #9ca3af; */
}
